---
interface Props {
  rounded?: boolean;
}

const { rounded } = Astro.props;
---

<button
  class={`text-xl max-h-[50px] shadow-custom shadow-primary-300 active:shadow-none active:translate-x-[3px] active:translate-y-[3px] px-5 py-2 border border-primary-900 hover:text-primary-500 transition-colors duration-100 ease-in-out cursor-pointer ${
    rounded ? "rounded-full" : "rounded-lg"
  }`}
>
  <slot />
</button>
