---
import Card from "./Card/index.astro";
import Button from "./Button.astro";
import { LINKS } from "../lib/constants";
import { Icon } from "astro-icon/components";
import Tooltip from "./Tooltip/index";
import { Image } from "astro:assets";
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-4">
  <div class="flex w-full h-full">
    <div class="flex flex-col justify-between md:max-h-[300px] gap-4">
      <div class="flex flex-col h-full">
        <h6 class="text-sm font-light m-0 text-gray-500">Hello there!</h6>
        <p class="mr-2 font-light text-xl">
          I'm <b class="font-bold">Juan Diego</b>, a NYC-based software developer with
          a passion for all things Finance and Tech.
        </p>
      </div>
      <div class="flex gap-4 flex-wrap">
        <a aria-label="linkedin profile" href={LINKS.linkedin} target="_blank">
          <Button aria-label="linkedin profile">
            <Icon class="h-6" name="ri:linkedin-box-fill" />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a aria-label="PSN profile" href={LINKS.psn} target="_blank">
          <Button aria-label="psn profile">
            <Icon class="h-6" name="ri:playstation-fill" />
            <span class="sr-only">PSN Profile</span>
          </Button>
        </a>
        <Tooltip client:visible>
          <Button aria-label="easter egg btn">
            <Icon class="h-6" name="ri:dice-line" />
            <span class="sr-only">Easter egg button</span>
          </Button>
        </Tooltip>
      </div>
    </div>
  <Image
    src="/me.png"
    alt="A full, uncropped image"
    width={200}
    height={400}
    fit="contain"
  />
  </div>
</Card>
