---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h1 class="text-black text-xl font-bold">What I'm up to</h1>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">
    Most of my time is spent maintaining and developing
    a Risk and PnL web applications and pipelines with my team.
    Outside of work though, I like to spend my evenings working
    on personal projects and trying out new places to eat and drink with friends.
    Outside of programming, my hobbies include collecting vinyl records, practicing guitar, working out,
    comic books, trying out new places to eat, and traveling!
  </p>
</Card>
