---
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>What I'm currently up to</h2>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">
    Most of my time is spent on maintaining and developing
    a suite of risk-related applications with my colleagues.
    After a day at the office though, I like to spend my evenings working
    out, modding video games, or trying out new places to eat with friends.
    Outside of programming, my hobbies include collecting vinyl records, practicing guitar, working out,
    comic books, trying out new places to eat, and traveling!
  </p>
</Card>
